{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформлення замовлення</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/checkout.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container checkout_main">
    <div class="checkout_head">
        <a class="navbar-brand" id="logo" href="{% url 'main' %}"><i class="fa-solid fa-m text-warning"></i>y
            Shop</a>
        <h5 class="text-light">Оформлення замовлення</h5>
    </div>
    <div class="alert alert-light alert_total_mobile">
        <h5 class="text-dark">Разом</h5>
        <div class="total_delivery_mobile">
            <p>вартість доставки</p>
            <p>за тарифами перевізника</p>
        </div>
        <div class="total_pay_mobile">
            <p>До сплати</p>
            <h5>{{curt_sum}} <i class="fa-solid fa-hryvnia-sign"></i></h5>
        </div>
        <button class="btn btn-success">Підтверджую замовлення</button>
    </div>
    <div class="checkout_main_scroll_object">
        <div class="checkout_main_scroll">
            <div class="contact_information">
                <div class="contact_information_head">
                    <h5 class="text-light">Контактні данні</h5>
                </div>
                <div class="contact_information_input">
                    <div class="contact_information_input_detail">
                        <label for="client_surname" class="text-light">Ім'я</label>
                        <input class="form-control" type="text" id="client_surname" name="client_surname"
                               placeholder="Ім'я">
                    </div>
                    <div class="contact_information_input_detail">
                        <label for="client_name" class="text-light">Прізвище</label>
                        <input class="form-control" type="text" id="client_name" name="client_name"
                               placeholder="Прізвище">
                    </div>
                    <div class="contact_information_input_detail">
                        <label for="client_phone" class="text-light">Мобільний телефон</label>
                        <input class="form-control" type="text" id="client_phone" name="client_phone"
                               placeholder="Мобільний телефон">
                    </div>
                    <div class="contact_information_input_detail">
                        <label for="client_email" class="text-light">Електронна пошта</label>
                        <input class="form-control" type="email" id="client_email" name="client_email"
                               placeholder="Електронна пошта">
                    </div>
                </div>
            </div>
            <div class="buy_stuff">
                <div class="buy_stuff_head">
                    <h5 class="text-light">Замовлення</h5>
                    <p class="text-light">на суму: {{curt_sum}} <i class="fa-solid fa-hryvnia-sign"></i></p>
                </div>
                {%for el in model%}
                <div class="alert alert-light">
                    <div class="buy_stuff_header">
                        <img src="{{el.product_pic}}" width="130px" height="100px">
                        <p class="text-dark buy_stuff_title">{{el.product_title}}</p>
                        <p class="text-dark">{{el.product_price}} <i class="fa-solid fa-hryvnia-sign"></i></p>
                    </div>
                </div>
                {%endfor%}
            </div>

            <div class="delivery_main">
                <h5 class="text-light">Доставка</h5>
                <div class="delivery_data">
                    <div class="delivery_main_detail">
                        <label for="state_name" class="text-light">Область</label>
                        <input class="form-control" type="text" placeholder="Місто" id="state_name">
                    </div>
                    <div class="delivery_main_detail">
                        <label for="city_name" class="text-light">Назва міста</label>
                        <input class="form-control" type="text" placeholder="Місто" id="city_name">
                    </div>
                    <div class="delivery_main_detail">
                        <label for="num_of_post" class="text-light">Номер відділення</label>
                        <input class="form-control" type="text" placeholder="Номер відділення" id="num_of_post">
                    </div>
                </div>
                <div class="container pay_method">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               oninput="return pay_status_off()">
                        <label class="form-check-label text-light" for="flexRadioDefault1">
                            Оплата під час отримання товару
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               oninput="return pay_status()">
                        <label class="form-check-label text-light" for="flexRadioDefault2">
                            Оплатити зараз
                        </label>
                    </div>
                    <div class="pay_with_card" id="pay_with_card">
                        <div class="card_num">
                            <label for="card_num" class="text-light">Номер картки</label>
                            <input class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" id="card_num">
                        </div>
                        <div class="personal_card_data">
                            <div class="card_cred">
                                <label for="expire_data" class="text-light">Термін дїї</label>
                                <input class="form-control" placeholder="MM/РР" id="expire_data">
                            </div>
                            <div class="card_cred">
                                <label for="CVV" class="text-light">СVV</label>
                                <input class="form-control" placeholder="MM/РР" id="CVV">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total_value">
            <div class="alert alert-light alert_total">
                <h5 class="text-dark">Разом</h5>
                <div class="total_delivery">
                    <p>вартість доставки</p>
                    <p>за тарифами перевізника</p>
                </div>
                <div class="total_pay">
                    <p>До сплати</p>
                    <h5>{{curt_sum}} <i class="fa-solid fa-hryvnia-sign"></i></h5>
                </div>
                <button class="btn btn-success">Підтверджую замовлення</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/main/js/sold.js">
</script>

</body>
</html>