{%extends 'main/layout.html'%}


{%block title%}Ноутбуки{%endblock%}

{%block content%}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <button class="btn btn-success panel_button" onclick="manage_panel()"><i class="fa-solid fa-layer-group"></i>
        фільтри
    </button>
    <div class="main_comodety">
        <div class="manage_panel" id="main_panels">
            <form method="get">
                <button type="submit" class="text-light btn btn-success" name="search" value="search">
                    <i class="fa-solid fa-magnifying-glass"></i> пошук
                </button>
                <button class="btn btn-danger" type="submit" name="reject_filters" value="reject_filters">скасувати
                </button>

                <div class="manage_panel_scroll">
                    <div class="alphabet_search">
                        <div class="alphabet_search_header">
                            <h5 class="text-dark">Пошук по бренду</h5>
                            <i class="fa-solid fa-angle-up text-dark" onclick="return alphabet_search_up()"
                               id="alphabet_search_up"></i>
                            <i class="fa-solid fa-angle-down text-dark" id="alphabet_search_down"
                               onclick="return alphabet_search_down()"></i>
                        </div>
                        <br>
                        <div class="all_alphabet_stuff" id="all_alphabet_stuff">
                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Apple"
                                       id="flexCheckDefault_1">
                                <label class="form-check-label text-dark" for="flexCheckDefault_1">
                                    Apple
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Acer"
                                       id="flexCheckDefault_2">
                                <label class="form-check-label text-dark" for="flexCheckDefault_2">
                                    Acer
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Asus"
                                       id="flexCheckDefault_3">
                                <label class="form-check-label text-dark" for="flexCheckDefault_3">
                                    Asus
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Dell"
                                       id="flexCheckDefault_4">
                                <label class="form-check-label text-dark" for="flexCheckDefault_4">
                                    Dell
                                </label>
                            </div>


                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="HP"
                                       id="flexCheckDefault_5">
                                <label class="form-check-label text-dark" for="flexCheckDefault_5">
                                    HP
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Lenovo"
                                       id="flexCheckDefault_6">
                                <label class="form-check-label text-dark" for="flexCheckDefault_6">
                                    Lenovo
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="MSI"
                                       id="flexCheckDefault_7">
                                <label class="form-check-label text-dark" for="flexCheckDefault_7">
                                    MSI
                                </label>
                            </div>


                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Razer"
                                       id="flexCheckDefault_8">
                                <label class="form-check-label text-dark" for="flexCheckDefault_8">
                                    Razer
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="exampleRadios" type="checkbox" value="Samsung"
                                       id="flexCheckDefault_9">
                                <label class="form-check-label text-dark" for="flexCheckDefault_9">
                                    Samsung
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="coast_main" id="coast">
                        <h5 class="text-dark">Пошук за ціною</h5>
                        <br>
                        <div class="coast_search">
                            <input type="text" class="form-control" name="price_from" id="price_from" placeholder="Від">
                            <input type="text" class="form-control" name="price_to" placeholder="До" id="price_to">
                        </div>
                        <br>
                        <div class="sliders">
                            <input type="range" class="slider" min="0" max="{{price_max}}" step="500" value="5000"
                                   id="price_slider"
                                   oninput="price_sliders()">
                            <input type="range" class="slider" min="0" max="{{price_max}}" step="100"
                                   value="{{price_max}}"
                                   id="price_slider_2" oninput="price_sliders()">
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="ready_to_delivery">
                        <div class="form-check">
                            <input class="form-check-input" name="ready_deliver" type="checkbox" value="ready_deliver"
                                   id="flexCheckDefault">
                            <label class="form-check-label text-dark" for="flexCheckDefault">
                                готовий до відправлення
                            </label>
                        </div>
                    </div>

                    <!-- <button class="btn btn-light" onclick="active_panel()" id="filters">
                        <i class="fa-solid fa-sliders"></i>
                    </button> -->
                    <br>
                    <div class="processors">
                        <div class="processors_header">
                            <h5 class="text-black">Процесор</h5>
                            <i class="fa-solid fa-angle-up text-dark" id="processors_up" onclick="return processors_up()"></i>
                            <i class="fa-solid fa-angle-down  text-dark" id="processors_down" onclick="return processors_down()"></i>
                        </div>
                        <br>
                        <div class="all_processors_stuff" id="all_processors_stuff">
                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="Intel Core i3"
                                       id="flexCheckDefault_i3">
                                <label class="form-check-label text-dark" for="flexCheckDefault_i3">
                                    Intel Core i3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="Intel Core i5"
                                       id="flexCheckDefault_i5">
                                <label class="form-check-label text-dark" for="flexCheckDefault_i5">
                                    Intel Core i5
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="Intel Core i7"
                                       id="flexCheckDefault_i7">
                                <label class="form-check-label text-dark" for="flexCheckDefault_i7">
                                    Intel Core i7
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="Intel Celeron"
                                       id="flexCheckDefault_Celeron">
                                <label class="form-check-label text-dark" for="flexCheckDefault_Celeron">
                                    Intel Celeron
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="AMD Ryzen 3"
                                       id="flexCheckDefault_Ryzen3">
                                <label class="form-check-label text-dark" for="flexCheckDefault_Ryzen3">
                                    AMD Ryzen 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="AMD Ryzen 5"
                                       id="flexCheckDefault_Ryzen5">
                                <label class="form-check-label text-dark" for="flexCheckDefault_Ryzen5">
                                    AMD Ryzen 5
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="processor" type="checkbox" value="M1"
                                       id="flexCheckDefault_m1">
                                <label class="form-check-label text-dark" for="flexCheckDefault_m1">
                                    M1
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="all_stuff" id="all_st">
            {%for el in model%}
            <div class="alert alert-light note">
                <!--<img src="/media/{{el.pic}}" width="180px" height="140px"> -->
                <form method="get">
                    {%csrf_token%}
                    <button class="btn btn-light" name="stuff_detail" value="{{el.id}}">
                        <img loading="lazy" src="{{el.pic_link}}" width="160px" height="130px">
                    </button>
                </form>
                <div class="title title_note">
                    <p class="title_note_text">{{el.title}}</p>
                </div>
                <form method="post">{% csrf_token %}
                    <button class="btn btn-light" type="submit" name="add_like" value="{{el.id}}"
                            onclick="return reject_like()"><i
                            class="fa-solid fa-heart"></i></button>
                </form>


                <div class="price_and_bag">
                    <h5>{{el.price}} UAH</h5>
                    <form method="post">{%csrf_token%}
                        {%if el.in_out == 'Є в наявності'%}
                        <button class="btn btn-light sold_btn" type="submit" name="buy" value="{{el.id}}"
                                onclick="return stuff_in_cart()" id="sold"><i
                                class="fa-solid fa-cart-shopping"></i></button>
                        <i class="fa-solid fa-cart-plus" id="in_cart"></i>
                        {%else%}
                        <button class="btn btn-light sold_btn" type="submit" name="buy" value="{{el.id}}"
                                onclick="return stuff_in_cart()" disabled><i
                                class="fa-solid fa-cart-shopping"></i></button>
                        {%endif%}
                    </form>
                </div>
                {%if el.in_out == 'Є в наявності'%}
                <p class="text-success">готовий до відправлення <span class="truck"><i
                        class="fa-solid fa-truck"></i></span></p>
                {%else%}
                <p class="text-unsuccess" id="not_have">немає в наявності <i class="fa-solid fa-hourglass-end "></i></p>
                {%endif%}
                <p class="description" id="des">{{el.description}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <script src="/static/main/js/notebook.js"></script>
    {%if like_modal_status == 1%}
    <script>
        $('#likes_list').modal('show')









    </script>
    {% elif cart_modal_status == 1%}
    <script>
            $('#cart').modal('show')









    </script>
    {%endif%}
</div>
{%endblock%}