{%extends 'main/layout.html'%}


{%block title%}Відеокарти{%endblock%}

{%block content%}
<div class="container-fluid">
    <button class="btn btn-danger panel_button" onclick="manage_panel()">фільтри</button>
    <div class="main_comodety">
        <div class="manage_panel" id="main_panels">
            <div class="alphabet_search" id="main_panel">
                <h5>Пошук по бренду</h5>
                <form method="get">
                    <button class="btn btn-success" type="submit">search</button>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                               value="AMD" checked>
                        <label class="form-check-label" for="exampleRadios1">AMD</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                               value="Gigabyte" checked>
                        <label class="form-check-label" for="exampleRadios1">Gigabyte</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                               value="Asus" checked>
                        <label class="form-check-label" for="exampleRadios1">Asus</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5"
                               value="INNO3D" checked>
                        <label class="form-check-label" for="exampleRadios1">INNO3D</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6"
                               value="MSI" checked>
                        <label class="form-check-label" for="exampleRadios1">MSI</label>
                    </div>
                </form>
            </div>
            <br>
            <div class="coast_main" id="coast">
                <h5>Пошук за ціною</h5>
                <br>
                <form method="get">
                    <div class="coast_search">
                        <input type="text" class="form-control" name="price_from" id="price_from" placeholder="Від">
                        <input type="text" class="form-control" name="price_to" placeholder="До" id="price_to">
                    </div>
                    <br>
                    <div class="sliders">
                        <input type="range" class="slider" min="0" max="100000" step="500" value="5000"
                               id="price_slider"
                               oninput="price_sliders()">
                        <input type="range" class="slider" min="0" max="100000" step="500" value="90000"
                               id="price_slider_2" oninput="price_sliders()">
                    </div>
                    <button class="btn btn-success" type="submit" name="price" value="price">пошук</button>
                </form>
            </div>
            <button class="btn btn-danger" onclick="active_panel()" id="filters">фільтри</button>
        </div>


        <div class="all_stuff">
            {%for el in model%}
            <form method="get">
                {%csrf_token%}
                <button class="btn btn-dark bg-success" name="stuff_detail" value="{{el.id}}">
                    <div class="alert alert-light note">
                        <!--<img src="/media/{{el.pic}}" width="180px" height="140px">-->
                        <img loading="lazy" src="{{el.pic_link}}">
                        <br>
                        <div class="title">
                            <p>{{el.title}}</p>
                        </div>
                        <br>
                        <div class="price_and_bag">
                            <h5>{{el.price}} UAH</h5>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        {%if el.in_out == 'Є в наявності'%}
                        <p class="text-success">готовий до відправлення <span class="truck"><i
                                class="fa-solid fa-truck"></i></span></p>
                        {%else%}
                        <p class="text-unsuccess">немає в наявності <i class="fa-solid fa-hourglass-end "></i></p>
                        {%endif%}
                        <p class="description" id="des">{{el.description}}</p>


                    </div>
                </button>
            </form>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}