{%extends 'main/layout.html'%}


{%block title%}Відеокарти{%endblock%}

{%block content%}
<div class="container-fluid">
    <button class="btn btn-success panel_button" onclick="manage_panel()"><i class="fa-solid fa-layer-group"></i>
        фільтри
    </button>
    <div class="main_comodety">
        <div class="manage_panel" id="main_panels">
            <form method="get">
                <button type="submit" class="text-light btn btn-success" name="search" value="search">
                    <i class="fa-solid fa-magnifying-glass"></i> пошук
                </button>
                <button class="btn btn-danger" type="submit" name="reject_filters" value="reject_filters">скасувати
                </button>
                <div class="manage_panel_scroll">
                    <div class="alphabet_search">
                        <h5 class="text-dark">Пошук по бренду</h5>
                        <!-- <form method="get"> -->
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" name="exampleRadios" type="checkbox" value="AMD"
                                   id="flexCheckDefault_1">
                            <label class="form-check-label text-dark" for="flexCheckDefault_1">
                                AMD
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="exampleRadios" type="checkbox" value="Asus"
                                   id="flexCheckDefault_2">
                            <label class="form-check-label text-dark" for="flexCheckDefault_2">
                                Asus
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="exampleRadios" type="checkbox" value="Gigabyte"
                                   id="flexCheckDefault_3">
                            <label class="form-check-label text-dark" for="flexCheckDefault_3">
                                Gigabyte
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="exampleRadios" type="checkbox" value="INNO3D"
                                   id="flexCheckDefault_4">
                            <label class="form-check-label text-dark" for="flexCheckDefault_4">
                                INNDO3D
                            </label>
                        </div>


                        <div class="form-check">
                            <input class="form-check-input" name="exampleRadios" type="checkbox" value="MSI"
                                   id="flexCheckDefault_5">
                            <label class="form-check-label text-dark" for="flexCheckDefault_5">
                                MSI
                            </label>
                        </div>

                    </div>
                    <br>
                    <div class="coast_main" id="coast">
                        <h5 class="text-dark">Пошук за ціною</h5>
                        <br>
                        <div class="coast_search">
                            <input type="text" class="form-control" name="price_from" id="price_from" placeholder="Від">
                            <input type="text" class="form-control" name="price_to" placeholder="До" id="price_to">
                        </div>
                        <br>
                        <div class="sliders">
                            <input type="range" class="slider" min="0" max="{{price_max}}" step="500" value="5000"
                                   id="price_slider"
                                   oninput="price_sliders()">
                            <input type="range" class="slider" min="0" max="{{price_max}}" step="100"
                                   value="{{price_max}}"
                                   id="price_slider_2" oninput="price_sliders()">
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="ready_to_delivery">
                        <div class="form-check">
                            <input class="form-check-input" name="ready_deliver" type="checkbox" value="ready_deliver"
                                   id="flexCheckDefault">
                            <label class="form-check-label text-dark" for="flexCheckDefault">
                                готовий до відправлення
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="all_stuff">
            {%for el in model%}
            <div class="alert alert-light note">
                <!--<img src="/media/{{el.pic}}" width="180px" height="140px"> -->
                <form method="get">
                    {%csrf_token%}
                    <button class="btn btn-light bg-light" name="stuff_detail" value="{{el.id}}">
                        <img loading="lazy" src="{{el.pic_link}}" width="160px" height="130px">
                    </button>
                </form>
                <br>
                <div class="title">
                    <p>{{el.title}}</p>
                </div>
                <form method="post">{% csrf_token %}
                    <button class="btn btn-light" type="submit" name="add_like" value="{{el.id}}"
                            onclick="return reject_like()"><i
                            class="fa-solid fa-heart"></i></button>
                </form>

                <div class="price_and_bag">
                    <h5>{{el.price}} UAH</h5>
                    {%if el.in_out == 'Є в наявності'%}
                    <form method="post">{%csrf_token%}
                        <button class="btn btn-light" type="submit" name="buy" value="{{el.id}}"
                                onclick="return stuff_in_cart()"><i
                                class="fa-solid fa-cart-shopping"></i></button>
                        <i class="fa-solid fa-cart-plus" id="in_cart"></i>
                    </form>
                    {%endif%}
                </div>
                {%if el.in_out == 'Є в наявності'%}
                <p class="text-success">готовий до відправлення <span class="truck"><i
                        class="fa-solid fa-truck"></i></span></p>
                {%else%}
                <p class="text-unsuccess">немає в наявності <i class="fa-solid fa-hourglass-end "></i></p>
                {%endif%}
                <p class="description" id="des">{{el.description}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    {%if like_modal_status == 1%}
    <script>
        $('#likes_list').modal('show')

    </script>
    {% elif cart_modal_status == 1%}
    <script>
            $('#cart').modal('show')

    </script>
    {%endif%}
</div>
<script src="/static/main/js/videocard.js"></script>


{%endblock%}