body {background: linear-gradient(to right, #080707, #5d21bf, #080707)}






body .cart{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:15%

    }
}
/* setting cart */

.cart-modal{
    display: block !important;
}

.cart-modal .modal-footer{border-top: 2px solid grey;
                          margin-top: 3%;}
.cart-dialog{
      overflow-y: initial !important
}

.product_cart {
             max-height: 50vh;
             overflow-y: auto;}

.product_cart_info {display: flex;
                   flex-direction: row;
                   align-items:center;
                   font-size: 15px;
                   justify-content: space-between;
                   border-bottom:5px solid #9c9e99;
                   }

.product_cart_info .btn-light{background:#fff}

.product_cart_info img{padding-bottom:2%}

.cart_title {font-size: 14px;
             width:40%}

.cart_count{
           display:flex;
           flex-direction: row;
           align-items: center;
           justify-content:center;
           font-size:14px;
           }


.cart_count textarea{width:10%;
                     height:2vh;
                     padding:2%;
                     }

.cart_price{font-size: 17px;
            width:25%}
#cart_sold{display:none}

.total_price{display:flex;
             justify-content:end}
.total_sum{background-color: #131413;
           border-radius:4%;
           width:30%;
           height:9vh;
           color: #fff;
           display:flex;
           align-items:center;
           justify-content:center;
           font-size:18px;
           flex-direction:row;
           justify-content:space-around}

body .cart_footers{display:flex;
            flex-direction:row;
            width:100%;
            justify-content:space-around;
            }


.value_cart{display:flex;
            justify-content:center;
            text-align:center}

#value_cart{
            color:#fff;
            position:relative;
            top:-11px;
            background: green;
            width:15px;
            left:-8px;
            border-radius:50%;
            font-size:12px;
            }

.cart i{font-size:25px;
        cursor:pointer;
        }

.empty_pic{
           width:100%;
           height:35vh;
           display:flex;
           align-items:center;
           position:relative;
           animation-name: cart;
           animation-duration: 8s;
           animation-timing-function: linear;
           animation-iteration-count: 3;
           animation-fill-mode: forwards;
           }

.empty_cart_title {
                   width:100%;
                   display:flex;
                   justify-content:center;
                   font-size:18px
                   }

@keyframes cart{
    0%{
        left:200px;
        top:-2px;
    }
    5%{
        top:2px;
    }
    10%{
        top:-2px;
    }
    15%{
        top:2px;
    }

    20%{
        top:-2px;
    }
    25%{
        left:350px;
        top:2px;
    }

    30%{
        top:-2px;
    }

    35%{
        top:2px;
    }

    40%{
        top:-2px;
    }

    45%{
        top:2px;
        }

    50%{
        left:500px;
        top:-2px;
    }

    55%{
        top:-2px;
    }

    60%{
        top:-2px;
    }

    65%{
        top:-2px;
    }

    70%{
        top:-2px;
    }

    75%{
        left:650px;
        top:2px;
    }

    80%{
       top:-2px;
    }

    85%{
        top:2px;
    }

    90%{
        top:-2px;
    }

    95%{
        top:2px;
    }

    100%{
        left:800px;
        top:-2px;
    }
}

#in_cart{display:none}

.cart_header {background: linear-gradient(to right, #080707, #5d21bf, #080707);
              }
/* ---------- */

/*____like list____*/

.like_list {display:flex;
            align-items:center;
            }

.fa-gratipay {color:red;
             font-size: 34px;
             }

.like_list_all {
                display: flex;
                flex-direction: column;
                padding: 1.5%;
                border: 1px solid black
}

.like_list_all:hover {transform: scale(1.05);
                      z-index:1}

.like_title {width:180px;
            font-size: 13px;
            height: 18vh;
            }

.like_price{display:flex;
            flex-direction:row;
            align-items: center;
            width: 35%;
            justify-content: space-between;
            padding-top:3%;
            }

.like_status{width:180px;
             font-size:12px}

.like-body{width:100%;
           overflow: auto}

.like_header {background: linear-gradient(to right, #080707, #5d21bf, #080707)}

.del_like {width:100%;
           height:6vh;
           display:flex;
           justify-content: end}

.del_like button{font-size: 15px;
                height:35px;
                background: #fff;
                color: black;
                }

.del_like button:hover{background:red;
                       color: #fff}

/*================*/

.ready_to_delivery {padding: 3%;
                    border-bottom: 2px solid grey}


.main_page_carusel {background-color:black}


.username {display:flex;
          justify-content:center;
          align-items:center;
          }

.username h5{font-size: 14px;
            }

.simple-rating{
    position:relative;
     font-size:30px;
     display:inline-block;

}

.simple-rating::before{
    content: "★★★★★";
    display:block;
}

.simple-rating__items{
    position:absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating__item{
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

}

.simple-rating__label{
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;


}

.simple-rating__label::before{
        content: "★";
        display: block;
        transition: color  .3s ease 0s;

}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label{
    color: #f5e91d
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
    color: #f5ee82;

}

#logo {border: 3px solid green;
       margin-left: 1%;
       padding: .2%;
       border-radius: 7%;
       font-family: cursive;
       background-color: green}

body .search_elements {
                      display:flex;
                      flex-direction:row;
                      width: 170%}

#btn_catalog {background-color: #666261;
              }

body .auth_panel {
                  margin-left: 4%;
                  width: 60%;
                  display: flex;
                  flex-direction:row;
                  justify-content: space-between
                  }
body .search_elements {width: 45%}

body .auth_elem{
                width:40%;
                display:flex;
                flex-direction:row;
                justify-content:space-between}

body .main_panels {
         width:90%;
         display: none;
         z-index: 3;
         position: fixed
         }





body .alert-dark{display:flex;
                 flex-direction:row;
                 background-color: #2b2827;
                 }



body .list_items {width: 25%;
                  border-right: 3px solid #fff;
                  display:flex;
                  flex-direction:column;
                  }
body .list_items a{text-decoration: none;
                   color:#fff;
                   font-size: 16px;
                   }

#all_cat {display: none}

#all_cat_2 {display: none}

#all_cat_3 {display: none}


body .stuff_chose:hover a:hover{color: red}

#computers {
            width: 65%;
            display:none;
            }

body .computers {
                 display: flex;
                 flex-direction: column;
                 padding-left:3%;
                 font-size: 16px
                 }

body .computers:hover a:hover{color: #13a11f}

body .computers a{text-decoration: none;
                  color: #fff;
                  width: 100%}

#smartphones {width: 65%;
              display: none;}

body .smart_and_gadgets{
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            font-size: 16px;
}
body .smart_and_gadgets:hover a:hover{color: #13a11f}

body .smart_and_gadgets a{text-decoration: none;
                          color: #fff;
                          width: 100%}

#home_appliances {width: 65%;
                  display: none}

body .home_electronics{
            display: flex;
            flex-direction: column;
            font-size: 16px;
            margin-left: 3%;
}

body .home_electronics:hover a:hover {color: #13a11f}

body .home_electronics a {text-decoration: none;
                          color: #fff;
                          width: 100%;}


body .main_comodety{
                     width:100%;
                     display:flex;
                     flex-decoration:row;
                        }

body .manage_panel {
    display: block;
    background: #fff;
    min-height: 100vh;
    border-right: 2px solid #5d21bf;
    color: #fff;
    padding:.5%;
    transform: translateX(-103%);
    transition-duration: 1s;
    z-index:2;
    position:absolute;


}


.manage_panel button{width:100%}

body .manage_panel .btn-light{position:absolute;
                            top:0;
                            width: 50px;
                            height: 50px;
                            background: #2bb32b;
                            right:-70px;
                           }

body .main_comodety .btn-danger {height:6vh}



body .panel_button{width:10%;
                   display: none}


body .alphabet_search {
    background:#fff;
    padding: 5%;
    border-bottom: 2px solid grey
}

body .coast_main {background: #fff;
                  padding:3%;
                  border-bottom: 2px solid grey}

body .coast_main button{width:100%}

body .coast_search {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

            }

body .coast_search input{width: 45%}


body .slider{-webkit-appearance: none;
             width:100%;
             height:7px;
             background:black}

body .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3fc72e;
  cursor: pointer;
}

body .slider::-webkit-slider-thumb:hover {transform: scale(1.8)}

body .sliders{display:flex;
              flex-direction: row

              }

body .all_stuff {
                overflow:auto;
                height:90vh;
                padding-left: 4%;
                padding-top: 5%;
                display:flex;
                flex-display:row;
                flex-wrap: wrap;
                transition-duration: 1s;
                }

body .title_stuff {height: 32vh;
                   }


body .note {border: 1px solid grey;
            height: 60vh;
            width:230px}

.note .fa-heart{color: #e35032;
                font-size:18px;}

.note button{background:#fff}

body .note p{font-size: 14px;}


body .note #des{width:200px;
                padding-left: 0%;
                padding-top: 0%;
                }

body .note:hover{
                 transform: scale(1.05);
                 height:77vh;
                 z-index: 1;
                 }

body .note:hover #des{
                 transform: scale(1.05);
                 display: block;
                 font-size: 12px;
                 position:relative

                 }


body .note-videocard {border: 1px solid grey;
            height: 65vh;
            }




#logout {
         display: none;
        }

body .note-videocard:hover {
                 transform: scale(1.1);
                 height:80vh;
                 z-index: 1;
                 display: block;

                 }

body .note-videocard:hover #des{
                 transform: scale(1.1);
                 display: block;
                 }

body .description {width: 200px;
                  display: none}


body .title {
             max-width: 220px;
             height: 17vh;
             padding-top:5%}



body .price_and_bag {display: flex;
                     flex-direction: row;
                     justify-content: space-between;
                     align-items: center;
                     }

body .price_and_bag i {padding-right: 4%;
                       font-size:18px}

body .truck{
    position:relative;
    animation-name: truck;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

body .fa-hourglass-end{
    position:relative;
    animation-name: clocks;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes clocks{
    0%{
        transform: rotate(0deg);
        color:#000000
    }
    25%{
        transform: rotate(90deg);
        color:#9c0606
    }
    50%{
        transform: rotate(180deg);
        color:#000000
    }
    75%{
        transform: rotate(270deg);
        color:#9c0606
    }
    100%{
        transform: rotate(360deg);
        color:#000000
    }
}

@keyframes truck{
    0%{
        left: 0
    }
    100%{
        left:12px
    }
}

note_container {padding-left:2%}

body .modal-body{display: flex;
                 flex-direction: row;
                 }

body .login_modal{width: 70%;
                  padding-right: 2%;
                  border-right: 3px solid #fff}


body .oauth {
    padding-left: 4%
}

body .oauth button{
    width: 110%
}
body .modal-footer {display: flex;
                    justify-content: center;
                    }

body .modal-footer a {color: #fff;
                      text-decoration: none}

body .modal-footer a:hover {color: #1bb80f}

body .modal-footer button{width: 100%}

body .registration_all{
                       width: 100%;
                       height: 75vh;
                       display:flex;
                       justify-content: center;
                       align-items: center;
                       }

body .alert-reg {
                    background-color: dark;
                    width: 50%;
                    border-radius: 5%;
                    }

body .alert-reg button{width: 100%}

body .detail_container {background-color: #1c1c1c;
                        min-height: 100vh;
                        border-left: 3px solid red;
                        border-right: 3px solid red;
                        }



body .detail_title {width: 100%;
                    color: #fff;
                    padding: 2%;
                    display:flex;
                    flex-direction:row;
                    justify-content: space-between
                    }
body .title_rating{width:10%;
                   display:flex;
                   flex-direction: row;
                    }


body .detail_title h4{width:75%}

body .detail_panel{width: 100%;
                   height: 3vh;
                   height: 6vh;
                   display: flex;
                   align-items: center;
                   border-bottom: 3px solid #2ad438
                   }

body .detail_panel_a{padding-left: 3%;
                     }

body .detail_panel_a a{
                     color: #fff;
                     text-decoration: none
                     }

body .detail_panel_a:hover {color: #13cf2b;
                            transform: scale(1.4);
                            transition-duration: 1s;}


body .detail_panel_a a:hover{
                      color: #13cf2b;

}

body .detail_pic{
                 width: 100%;
                 padding-left:1%;
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 border-radius: 2%
                 }
#video_youtube {display: none}



body .detail_pic img:hover{
                           transform: scale(1.05);
                           transition-duration: 1s}


body .detail_price_elem {
                         border-bottom: 3px solid #fff;
                         padding: 2%;
                         background-color: ;
                         display: flex;
                         flex-direction: row;
                         justify-content: space-between;
                         align-items: center;
                         border-radius: 1%}



body .detail_description{width:550px;
                         padding-left: 1%;
                         color: #fff}


body .add_detail_comment{padding:4%;
                         color: #fff;
                         background-color:grey}


body .detail_all_comments{height: 40vh;
                          overflow: auto;
                          display: none}


body .detail_all_questions {
                           height: 40vh;
                           overflow: auto;
                           display: none
                           }


body .detail_comments {padding: 4%;
                       color: #fff;
                       background-color: #5c5a58;
                       }

body .comment_rating{font-size:20px}

body .comment_rating_quantity{font-size:12px}

body .comment_rating_1{font-size:20px}

body .comment_rating_1:first-child{
                color:#f5e91d;
}

body .comment_rating_2{font-size:20px}

body .comment_rating_2:first-child{
                color:#f5e91d;
}

body .comment_rating_2:nth-child(2){
                color:#f5e91d;
}

body .comment_rating_3{font-size:20px}

body .comment_rating_3:first-child{
                color:#f5e91d;
}

body .comment_rating_3:nth-child(2){
                color:#f5e91d;
}

body .comment_rating_3:nth-child(3){
                color:#f5e91d;
}


body .comment_rating_4:first-child{
                color:#f5e91d;
}

body .comment_rating_4:nth-child(2){
                color:#f5e91d;
}

body .comment_rating_4:nth-child(3){
                color:#f5e91d;
}

body .comment_rating_4:nth-child(4){
                color:#f5e91d;
}

body .comment_rating_5:first-child{
                color:#f5e91d;
}

body .comment_rating_5:nth-child(2){
                color:#f5e91d;
}

body .comment_rating_5:nth-child(3){
                color:#f5e91d;
}

body .comment_rating_5:nth-child(4){
                color:#f5e91d;
}

body .comment_rating_5:nth-child(5){
                color:#f5e91d;
}


body .detail_comments_header{display: flex;
                             justify-content: space-between;
                             }


body .comment_video{display:flex;
                    flex-direction:row;
                    justify-content:space-around}

body .text_comment{width:60%;
                   }
/*  main page second pic setting */
.main_page_2 {width:100%;
              height:100vh}
.main_page_2 img{width:100%;
                height:100vh
                }

.main_page_2_text {z-index: 1;
                  margin-top: -15%;
                  margin-left: 70%;
                  font-size:24px;

                  }
/*  main page third pic setting */
.main_page_3 {width:100%;
              height:100vh}

.main_page_3 img{width:100%;
                  height:100vh
                }

.main_page_3_text {z-index: 1;
                  margin-top: -15%;
                  margin-left: 10%;
                  font-size:42px;

                  }

@media screen and (max-width: 1050px){
    body .note {width: 230px;
                height: 55vh;}

    body .title{height: 20vh}

    body .note img{width: 200px;
                   }
    body .detail_pic img{width:450px;
                    height: 350px;
                    transition-duration: 2s;}

    body .detail_price_elem{display:flex;
                      flex-direction:column;
                      }
    body .detail_pic iframe{width:450px;
                            height:350px;
                            transition-duration: 2s;
                            }
    body .detail_title {display:flex;
                        flex-direction:column;
                        }

    body .detail_title h4{width:100%}

    body .username{font-size: 15px;
                   }

    }






@media screen and (max-width: 926px){
    body .note {width: 270px;
                height: 50vh;}

    body .title{height: 15vh}

    body .note img{width: 230px;
                   }

    .all_stuff{width: 90%}

    body .detail_pic img{width:350px;
                    height: 250px;
                    transition-duration: 2s;}


    body .detail_pic iframe{width:350px;
                            height:250px;
                            transition-duration: 2s;
                            }

    #value_cart{
            color:#fff;
            position:relative;
            top:-34px;
            background: green;
            width:15px;
            left:15px;
            border-radius:50%;
            font-size:12px;
            }
}


@media screen and (max-width: 768px) {

    body .detail_pic {flex-direction: column;
                      justify-content:center;
                      align-items:center}

    body .detail_pic img{width: 400px;
                         height: 320px

                 }

    body .detail_pic iframe{width:450px}




}


@media screen and (max-width: 721px) {
    body .note {width: 230px;
                height: 65vh;
                }

    body .title{height: 26vh;
                max-width:350px;
                }

    body .note img{width: 200px;
                   height: 170px
                   }


    body .panel_button{width:100%;
                   display: none}

    body .auth_panel {
                  margin-left: 4%;
                  width: 40%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between
                  }

    body .search_elements {
                           margin-top:3%;
                           width:70%}

    body .auth_elem{
                    margin-top:3%;
                    width: 90%}

    body .carousel-item img {height:400px;}


    body .registration_all{
                       width: 100%;
                       height: 80vh;
                       display:flex;

                       }

    body .alert-reg{
                    width: 100%;
                    height: 70vh}

}


@media screen and (max-width: 550px) {

    body .detail_description{max-width:400px}

    body .note {width: 200px;
                height: 65vh;
                }

    body .title{height: 26vh;
                max-width:350px;
                }

    body .note img{width: 170px;
                   height: 140px
                   }
    body .manage_panel{display: none}

    body .panel_button{width:10%;
                   display: block}

    body .auth_panel {
                  margin-left: 4%;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between
                  }

    body .search_elements {
                           margin-top:3%;
                           width:90%}

    body .auth_elem{
                    margin-top:3%;
                    width: 90%}

    body .carousel-item img {height:400px;}

    body .registration_all{
                       width: 100%;
                       height: 80vh;
                       display:flex;

                       }

    body .alert-reg{
                    width: 100%;
                    height: 75vh}

}

@media screen and (max-width: 483px) {
    body .note {width: 300px;
                height: 57vh;
                }

    body .title{height: 14vh;
                max-width:350px;
                }

    body .note img{width: 240px;
                   height: 190px
                   }
    body .manage_panel{display: block;
                       margin-top:5%;
                       width: 90%;
                       height: 90vh;
                       z-index:2;
                       position: absolute;
                       background: #fff;
                       border-bottom: 3px solid #fff;
                       border-top: 3px solid #fff;
                       transform: translateX(-109%);
                       transition-duration: 1.5s

                       }

    body .main_comodety {flex-direction:column;

                         }

    body .all_stuff{justify-content:center;
                    width:100%;
                    margin-top:5%;
                    }

    body .panel_button{width:100%;
                   display: block}

    body .auth_panel {
                  margin-left: 4%;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between
                  }

    body .search_elements {
                           margin-top:3%;
                           width:90%}

    body .auth_elem{
                    margin-top:3%;
                    width: 90%}

    body .carousel-item img {height:22vh;}

    body .registration_all{
                       width: 100%;
                       height: 80vh;
                       display:flex;

                       }

    body .alert-reg{
                    width: 100%;
                    height: 75vh;
                    font-size:12px}

    .registration_all{
                      margin-top:4%
                       }
    body .detail_pic {flex-direction: column;
                      justify-content:center;
                      align-items:center}

    body .detail_pic img{width: 100%;
                         height: 250px
                         }
    body .detail_pic iframe{width: 100%;
                            height: 250px}

    body .detail_description{width:100%;
                             }

    body .detail_price_elem{flex-direction: column;
                            width:100%}


    body .list_items {width: 55%;
                  border-right: 3px solid #fff;
                  display:flex;
                  flex-direction:column;
                  font-size: 13px;
                  }

    body .computers {
                 width: 100%;
                 display: flex;
                 flex-direction: column;
                 padding-left:5%
                 }

    body .all_cat{width: 150px}

    body .detail_panel{display: flex;
                       justify-content: space-around;


                       }

    body .detail_panel_a{padding-left: 1%;
                         font-size: 14px
                     }

    body .detail_panel_a:hover {color: #13cf2b;
                            transform: scale(1.1);
                            transition-duration: 1s;}

    #filters{display: none}

    body .alphabet_search {
            background:#fff;
            padding: 5%;
            border-bottom: 2px solid grey;
            height: 40vh;
            overflow: auto
    }

    body .modal{max-width: 380px}

    body .login_modal {width: 60%}

    body .comment_video{display:flex;
                    flex-direction:column;
                    }

    body .text_comment{width:100%}

    body .comment_video iframe{max-width:270px}


    body .note:hover #des{
                 display: none;

                 }

    body .detail_title {width: 100%;
                    color: #fff;
                    padding: 2%;
                    display:flex;
                    flex-direction:column;
                    }

    body .detail_title h4{width:100%;
                          font-size: 14px
                          }

    #value_cart{
            color:#fff;
            position:relative;
            top:-35px;
            background: green;
            width:15px;
            left:10px;
            border-radius:50%;
            font-size:12px;
            display:flex;
            justify-content:center;
            }

    .product_cart_info{display:flex;
                       flex-wrap:wrap;
                       padding-bottom:2%;}

    .product_cart_info img{width:300px;
                           height:250px;}

    .cart_title{width:100%}

    .total_sum{width:45%}
    .product_cart_info .btn-light{background:#fff}
    .cart {display:flex;
           justify-content:center;
           align-items:center}
    .cart i{font-size:31px;
            cursor:pointer;
            }

    .empty_pic img{width:130px;
                   height:110px}

    .empty_cart_title h5{
        font-size:15px;

        }

    @keyframes cart{
    0%{
        left:0px;
        top:-2px;
    }
    5%{
        top:2px;
    }
    10%{
        top:-2px;
    }
    15%{
        top:2px;
    }

    20%{
        top:-2px;
    }
    25%{
        left:50px;
        top:2px;
    }

    30%{
        top:-2px;
    }

    35%{
        top:2px;
    }

    40%{
        top:-2px;
    }

    45%{
        top:2px;
        }

    50%{
        left:100px;
        top:-2px;
    }

    55%{
        top:-2px;
    }

    60%{
        top:-2px;
    }

    65%{
        top:-2px;
    }

    70%{
        top:-2px;
    }

    75%{
        left:150px;
        top:2px;
    }

    80%{
       top:-2px;
    }

    85%{
        top:2px;
    }

    90%{
        top:-2px;
    }

    95%{
        top:2px;
    }

    100%{
        left:200px;
        top:-2px;
    }
    }

   .modal-dialog{width:100%}



   .main_page_2 {width:100%;
                 height:39vh}
   .main_page_2 img{width:100%;
                    height:39vh;
                }

   .main_page_2_text {z-index: 1;
                    margin-top: -35%;
                    margin-left: 10%;
                    font-size:24px;
                  }


  .main_page_3 {width:100%;
                height:39vh}

  .main_page_3 img{width:100%;
                   height:39vh;
                }

  .main_page_3_text {z-index: 1;
                     margin-top: -25%;
                     margin-left: 10%;
                     font-size:24px;
                    }

  .like_title {width:180px;
            font-size: 13px;
            height: 22vh;
            }



  .detail_button {width:100%;
                  display: flex;

                  }


  .detail_button button{font-size:14px;
                         }
  body .main_panels {
         width:90%;
         display: none;
         z-index: 3;
         position: fixed
         }
  body .list_items {width: 100%;
                    display:flex;
                    flex-direction:column;
                  }


@media screen and (max-width: 380px) {
    body .note {width: 300px;
                height: 70vh;
                }

